.signup-bg {
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    box-shadow: 10px 10px 5px 0px rgba(53, 52, 52, 0.75);
}
@keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(80px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
   @media (max-width: 768px) {
  .hide-on-desktop {
    display: none !important;
  }
}
   @media (min-width: 768px) {
  .show-on-desktop {
    display: none !important;
  }
}

 /* Border class */
 .border-class:hover {
  border-bottom: 3px solid rgb(106, 0, 255);
}

.border1 {
  border-bottom: 3px solid red;
}

  .animated-heading {
    animation: fadeSlideIn 0.8s ease-out forwards;
  }

  .custom-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  
  .custom-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
  }
  .custom-scroll::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 4px;
  }

  .margin-padding {
    margin : 0 auto;
  }

  .update-bg{
    background-image: linear-gradient( 106.7deg,  rgba(255,199,67,1) 103.7%, rgba(255,247,200,1) 120.7% );
    box-shadow: 10px 10px 5px 0px rgba(53, 52, 52, 0.75);
  }
  @media (min-width: 992px) {
  .custom-width-lg {
    max-width: 700px;
  }
}
   
.setwidth{
  max-width: 540px;
}


  
         .btn-grad {background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)}
         .btn-grad {
            margin: 10px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
     
          .updateuser{
             box-shadow: 10px 10px 5px 0px rgba(53, 52, 52, 0.75);
          }

.texthover :hover{
  color: rgb(186, 47, 47);
}


         .btn-grad1 {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
       
         
  
         .btn-grad2 {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
           
          
          
         .btn-grad3 {background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)}
      
         